
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simpleflask1
  labels:
    app: flaskapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaskapp
  template:
    metadata:
      labels:
        app: flaskapp
    spec:
      containers:
      - name: flaskapp
        image: yabadabadoo27/endsem:v1
        ports:
        - containerPort: 5070
